/Covering Matices/ConsoleApplication1/.vs/ConsoleApplication1/v14/.suo
/Covering Matices/ConsoleApplication1/ConsoleApplication1.VC.db
/Covering Matices/ConsoleApplication1/ConsoleApplication1.VC.VC.opendb
/Covering Matices/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.3599754A.tlog/CL.read.1.tlog
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.3599754A.tlog/CL.write.1.tlog
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.3599754A.tlog/ConsoleApplication1.lastbuildstate
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.3599754A.tlog/link.command.1.tlog
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.3599754A.tlog/link.read.1.tlog
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.3599754A.tlog/link.write.1.tlog
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/ConsoleApplication1.log
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/main.obj
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/vc140.idb
/Covering Matices/ConsoleApplication1/ConsoleApplication1/Debug/vc140.pdb
/Covering Matices/ConsoleApplication1/Debug/ConsoleApplication1.exe
/Covering Matices/ConsoleApplication1/Debug/ConsoleApplication1.ilk
/Covering Matices/ConsoleApplication1/Debug/ConsoleApplication1.pdb
